body {
	display: flex;
	background-color: whitesmoke;
	justify-content: center;
	padding-bottom: 5em;
	padding-top: 5em;
	font-family: sans-serif;
}

table {
	width: max-content
}

figure, figcaption {
	margin: 0;
	padding: 0;
}

figure {
	border: 2px solid black;
	width: max-content;
	padding: 15px;
	box-shadow: 3px 3px 5px black;
}

figcaption {
	display: block;
	font-weight: bold;
	text-align: center;
	font-size: 130%;
	padding-bottom: .30em;
}

table, tr, td {
	border-collapse: collapse;
	border: 2px solid black;
	margin: 10px auto;
}

th, td {
	padding: 10px;
	text-align: center;
	border: 2px solid black;
}

th {
	font-weight: bold;
	background-color: crimson;
	text-shadow: 2px 2px 2px black;
	color: white;
	
}

.teamname {
	text-align: left;
	font-weight: bold;
}

#champs {
	align-items: center;
	font-size: 130%;
	border: 0px;
	width: max-content;
}



